
{{/* AFFICHAGE DU RENDU DES CHIFFRES DE STATISTIQUES */}}
{{/* Utilisé dans les modes : 1 pie / 2 doughnut / 3 polarArea + 1 seule valeur présentée */}}
{{ $width := 1100 }}
{{ $height := 800 }}

{{ $varLegende := $.Page.Params.graph_legende }}

{{/* Les codes des catégories sélectionnée */}}
{{ $varCateg := $.Scratch.Get "dict_CODE_CATEG" }}
{{ $varStats := $.Scratch.Get "dict_CODE_STATS" }}
{{/* POUR LE MOMENT on ne prend que la 1ere colonne de stats */}}
{{ $varNum1Stat := index ($.Scratch.Get "liste_NUMCOL_STATS") 0 }}
{{ $libNum1Stat := index $varStats (string $varNum1Stat) }}

{{/* Anciennement passage de  paramètre {{ $.Scratch.Get "csv_graph_type" -}} */}}
<br>
<button id="swap1" class="button" style="vertical-align:middle"><span>Mode Pie </span></button>
<button id="swap2" class="button" style="vertical-align:middle"><span>Mode Doughnut </span></button>
<button id="swap3" class="button" style="vertical-align:middle"><span>Mode Polar Area </span></button>
<br><br>
{{/* div id="canvas-holder" style="position: relative; height:50vh; width:50vw" */}}
<div id="canvas-holder">
        <canvas id="canvas1" width="{{- $width -}}"  height="{{- $height -}}"></canvas>
        <canvas id="canvas2" width="{{- $width -}}"  height="{{- $height -}}"></canvas>
        <canvas id="canvas3" width="{{- $width -}}"  height="{{- $height -}}"></canvas>
</div>

<script>
    var color = Chart.helpers.color;
    var myChartData = {
        labels: [
            {{- range $_key, $_value := ($.Scratch.Get "mapCategTotaux") -}}
                {{- index $varCateg $_key -}},
            {{- end -}}
        ],
        datasets: [{
            label: "TODO - Utilité ??",
            backgroundColor: [
                {{- range $j, $v2 := $varCateg -}}
                    {{- if ne $j 0 -}}
                        randomColor({ luminosity: 'bright', format: 'rgba', alpha: 0.9 }),
                    {{- end -}}
                {{- end -}}
                ],
            borderColor: window.chartColors.black,
            borderWidth: 1,
            data: [
                {{- range $_key, $_value := ($.Scratch.Get "mapCategTotaux") -}}
                    {{- index $_value 0 -}},
                {{- end -}}
            ]
        }]
    };
    var myOptions = {
        elements: {
            rectangle: {
                borderWidth: 2,
            }
        },
        responsive: true,
        legend: {
            position: 'bottom',
            {{- if $varLegende -}}
                display: true,
            {{- else -}}
                display: false,
            {{- end -}}
        },
        title: {
            display: true,
            text: 'Somme des {{ $libNum1Stat }} - par {{ $.Scratch.Get "titre_categ" -}}'
        },
        animation: {
            animateRotate: true,
            animateScale: true,
            duration: 1000,
            easing: 'easeInOutBounce'
        }
    };

    var config1 = {
            type: 'pie',
            data: myChartData,
            options: myOptions
    };
    var config2 = {
            type: 'doughnut',
            data: myChartData,
            options: myOptions
    };
    var config3 = {
            type: 'polarArea',
            data: myChartData,
            options: myOptions
    };
    window.onload = function() {
        var ctx1 = document.getElementById('canvas1').getContext('2d');
        window.myChart = new Chart(ctx1, config1);
        var ctx2 = document.getElementById('canvas2').getContext('2d');
        window.myChart = new Chart(ctx2, config2);
        var ctx3 = document.getElementById('canvas3').getContext('2d');
        window.myChart = new Chart(ctx3, config3);
    };

    /* choix du type de graphique par défaut*/
   {{ printf "swap%d();" $.Page.Params.graph_default | safeJS }}

    {{ range (seq 1 3) }}
        document.getElementById("swap{{- . -}}").onclick=function(){
            {{ printf "swap%d();" . | safeJS }};
        };
    {{ end }}

    function swap1(){
            canvas1.style.display='block';
            canvas2.style.display='none';
            canvas3.style.display='none';
    };
    function swap2(){
            canvas1.style.display='none';
            canvas2.style.display='block';
            canvas3.style.display='none';
    };
    function swap3(){
            canvas1.style.display='none';
            canvas2.style.display='none';
            canvas3.style.display='block';
    };
</script>
