{{/*  AFFICHAGE DE LA SYNTHESE  */}}
{{- if $.Page.Params.detail_categ -}}

    <!-- DEBUG -->
    {{ if $.Page.Params.detail_debug }}
        {{ "<h4>partial: categ_synthese.html</h4>" | safeHTML }}
    {{ end }}

    <h2>Résumé des catégories trouvées</h2>
    <p class="info">Liste des {{ $.Scratch.Get "titre_categ" }} :
        {{- range $.Scratch.Get "liste_1CODE_CATEG" -}}
            {{ . }},
        {{- end -}}
    <p class="info">Liste des statistiques à traiter :
        {{- range $.Scratch.Get "dict_CODE_STATS" -}}
            {{ . }},
        {{- end -}}
{{- end -}}
{{- if $.Page.Params.detail_total -}}
    {{/*  On récupère la ligne d'en-tête */}}
    {{- $_ligne := $.Scratch.Get "ligneENTETE" -}}
    <h2>Résumé global des totaux par statistique</h2>
    <table class="table_result" style="overflow-x:auto;">
        <tr><td>Nombre de lignes de données :</td><td colspan="2"> {{- $.Scratch.Get "total-lignes" -}}</td></tr>
        {{- range $_key, $_value := $.Scratch.Get "mapStatTotaux" -}}
            {{/*  Il faut un int pour l'index du n° de colonne  */}}
            {{- $_numColINT := (int (lang.NumFmt 0 $_key "-")) -}}
            {{- $_label := (index $_ligne $_numColINT) -}}
            {{- $.Scratch.Set "_counter" 0 -}}
                {{- range $_i, $_j := $_value -}}
                <tr>
                    {{- if eq ($.Scratch.Get "_counter") 0 -}}
                        <td rowspan="{{- $.Scratch.Get "counter_CATEG" -}}">{{- $_label }} ({{ $_key -}}):</td>
                    {{- end -}}
                    <td>{{ $_i }}</td>
                    <td>{{ (lang.NumFmt 2 $_j "- , .") }}</td>
                </tr>
                {{- $.Scratch.Add "_counter" 1 -}}
                {{- end -}}
        {{- end -}}
    </table>
{{- end -}}
