<!--  ce partial identifie les différentes valeurs d'UNE SEULE catégories du CSV
      Le numéro de colonnne à traiter comme critère de regroupement (1 seul pour pie) -->

{{ $numcol_categ := $.Scratch.Get "csvNUMCOL_CATEG" }}

<!-- Eventuel décalage pour trouver le libellé de la colonne -->
{{ $categ_libelle_decalage := 0 }}
{{ if $.Page.Params.categ_libelle_decalage }}
    {{ $categ_libelle_decalage = $.Page.Params.categ_libelle_decalage }}
{{ else }}
    {{ $categ_libelle_decalage = 0 }}
{{ end }}

<!-- Dictionnaire des catégories + libellés -->
{{ $.Scratch.Set "dict_CODE_CATEG" (dict) }}

<!-- Compteur de catégories différentes trouvées -->
{{ $counter_CATEG := 0 }}

<!-- Le fichier à traiter -->
{{ $csv := getCSV ";" ($.Scratch.Get "csvURL") }}

<!-- Calculs intermédiaires -->
{{ $scr := newScratch }}
{{ $scr.Set "listeCodesCateg" slice }}
{{ $scr2 := newScratch }}
{{ $scr2.Set "labelsCodesCateg" slice }}

{{ range $i, $v1 := $csv }}

    {{ $xliste := $scr.Get "listeCodesCateg" }}
    {{ if eq $i 0 }}
            <!-- variables globales pour autres partials -->
            {{ $.Scratch.Set "titre_categ" (index . $numcol_categ) }}
            {{ $.Scratch.Set "ligneENTETE" . }}

        {{ else }}
            {{ if not (in $xliste (index . $numcol_categ)) }}
                {{ $_code := (index . $numcol_categ) }}
                {{ $_label := (index . (add $numcol_categ $categ_libelle_decalage) ) }}
                {{ $.Scratch.SetInMap "dict_CODE_CATEG" $_code $_label }}

                {{ $scr.Add "listeCodesCateg"  (slice (index . $numcol_categ)) }}
                {{ $scr2.Add "labelCodesCateg"  (slice (index . (add $numcol_categ $categ_libelle_decalage) )) }}

                {{ $counter_CATEG = add $counter_CATEG 1 }}
            {{ end }}
    {{ end }}

{{ end }}

<!-- Pour utilisation dans les rapports -->
{{ $.Scratch.Set "counter_CATEG"  $counter_CATEG }}
{{ $.Scratch.Set "liste_1CODE_CATEG" ($scr.Get "listeCodesCateg") }}
{{ $.Scratch.Set "label_1CODE_CATEG" ($scr2.Get "labelCodesCateg") }}

<!-- DEBUG  -->
{{ if $.Page.Params.detail_debug }}
    {{ "<h4>partial: categ_identifie.html</h4>" | safeHTML }}
    <p class="info">counter_CATEG : {{ $counter_CATEG }}
    <p class="info">liste_1CODE_CATEG : {{ $.Scratch.Get "liste_1CODE_CATEG" }}
    <p class="info">label_1CODE_CATEG : {{ $.Scratch.Get "label_1CODE_CATEG" }}
    <p class="info">dict_CODE_CATEG : {{ $.Scratch.Get "dict_CODE_CATEG" }}
    <hr>
{{ end }}
