<!-- la liste des codes catégorie de la Colonne retenue  -->
{{ $listeCodes1Categ   := $.Scratch.Get "liste_1CODE_CATEG" }}
{{ $listeNumcolStats   := $.Scratch.Get "liste_NUMCOL_STATS" }}
{{ $numcol_categ       := $.Scratch.Get "csvNUMCOL_CATEG" }}
{{ $numcol_date_effet  := $.Scratch.Get "csvDATE_EFFET" }}
{{ $numcol_date_fin    := $.Scratch.Get "csvDATE_FIN" }}

<!-- DEBUG -->
{{ if $.Page.Params.detail_debug }}
    {{ "<h4>partial: categ_totaux_by_categ.html</h4>" | safeHTML }}
    <p class="info">$numcol_categ : {{ $numcol_categ }}
    <p class="info">$numcol_date_effet : {{ $numcol_date_effet }}
    <p class="info">$numcol_date_fin : {{ $numcol_date_fin }}
{{ end }}

<!-- Initialisation du dict des valeurs des colonnes POUR 1 CODE -->
{{ $scr := newScratch }}
{{ range $listeNumcolStats }}
    {{ $scr.Add "dictSommesTempInit" (slice 0) }}
{{ end }}

<!-- Initialisation des diverses map utilisées par le module d'affichage -->
{{ $.Scratch.Set "mapCategTotaux" (dict) }}
{{ $.Scratch.Set "mapCategTotaux_EnCours" (dict) }}

<!-- Initialisation du nombre de ligne de data du CSV -->
{{ $total_lignes := 0 }}

<!-- Initialise pour listeTotaux1Categ_Temp -->
{{ $scr1 := newScratch }}

<!-- traite chaque ligne du CSV  -->
{{ $csv := getCSV  ";" ($.Scratch.Get "csvURL") }}
{{ range $i, $ligneTemp := $csv }}
    {{ if gt $i 0 }}
    <!-- Pour chaque ligne de DATA on analyse les diverses colonnes  -->
        <!-- On traite la liste de toutes les valeurs de la catégorie  -->
        {{ range $k, $codeCategTemp:= $listeCodes1Categ }}
                <!-- On obtient le code catégorie à traiter (test colonne 3)
                       TODO simplifier cet algo idiot(tm) : $codeCategTemp := (index $ligneTemp $numcol_categ) devrait faire l'affaire  -->
                {{ if eq $codeCategTemp (index $ligneTemp $numcol_categ) }}

                    <!-- DEBUG -->
                    {{ if and ($.Page.Params.detail_debug) ($.Page.Params.detail_debug_verbose) }}
                        <p class="info">$codeCategTemp : {{ $codeCategTemp }}
                    {{ end }}

                    <!-- On réinitialise pour chaque ligne le slice temporaire des totaux de la ligne  -->
                    {{ $.Scratch.Set "dictSommesTemp" (slice) }}

                    <!-- On traite chaque item correspondant à une colonne de statistique  -->
                    {{ range  $j, $numcolTemp := $listeNumcolStats }}
                        <!-- Le N° de colonne à traiter (en STR)  -->
                        {{ $numcol_str := string $numcolTemp }}

                        <!-- On cherche le total global actuel de la colonne identifiée  -->

                        <!-- Le montant calculé précédemment -->
                            <!-- Si la map est déjà créée pour ce code on cherche le dict du code de catégorie de la ligne  -->
                            {{ if isset ($.Scratch.Get "mapCategTotaux") $codeCategTemp }}
                                {{ $scr1.Set "listeTotaux1Categ_Temp" (index ($.Scratch.Get "mapCategTotaux") $codeCategTemp) }}
                            {{ else }}
                                {{ $scr1.Set "listeTotaux1Categ_Temp" ($scr.Get "dictSommesTempInit") }}
                            {{ end }}

                            <!-- Quand on a le slice associé on cherche la valeur de la colonne de la boucle   -->
                            {{ $valOrigineCol := float (index ($scr1.Get "listeTotaux1Categ_Temp") $j) }}

                            <!-- Le montant (de la ligne) à ajouter à ce total  -->
                                <!-- On adapte la forme du  montant STR (mode chiffre FR en mode numération US)  -->
                                {{ $val_FR_str := index $ligneTemp . }}
                                {{ $val_US_str := replaceRE "," "." $val_FR_str }}
                                <!-- On passe cette valeur en NUM -->
                                {{ $val2add := float (lang.NumFmt 2 $val_US_str "- .") }}

                            <!-- Addition du total actuel et du montant de la ligne (NUM)  -->
                            {{ $_valResultFloat := add $val2add $valOrigineCol }}
                            {{ $valResult := lang.NumFmt 2 $_valResultFloat "- ." }}

                            <!-- On reconstruit le slice avec les nouveaux totaux intermédiaires pour la CATEG DE LA LIGNE EN COURS  -->



                        <!-- Ici, pas de discrimination. On totalise tout -->
                        {{ $.Scratch.Add "dictSommesTemp" (slice $valResult) }}

                        {{ if and ($.Page.Params.detail_debug) ($.Page.Params.detail_debug_verbose) }}
                            <p class="info">Ligne {{ $i }}   : Addition pour col {{ $numcol_str }} : {{ $valOrigineCol }} + {{ $val2add }} = {{ $valResult }} @@ {{ $.Scratch.Get "debug_encours" }}
                        {{ end }}
                    {{ end }}   <!-- Fin d'itération sur les X colonnes de stats -->

                     <!-- on stocke le slice des totaux de la ligne avec le code CATEG  -->
                    {{ $.Scratch.SetInMap "mapCategTotaux" $codeCategTemp ($.Scratch.Get "dictSommesTemp") }}
                    {{ $.Scratch.SetInMap "mapCategTotaux_EnCours" $codeCategTemp ($.Scratch.Get "dictSommesTemp_EnCours") }}

                {{ end }}         <!-- Fin de test de ligne correspondant à la valeur de la categ à traiter  -->
        {{ end }}                 <!-- Fin de la boucle sur les codes de la catégorie  -->
        <!-- Nombre de lignes de DATA  -->
        {{ $total_lignes = add $total_lignes 1 }}

    {{ else }}
        <!-- On traite la ligne d'en-tête  -->
    {{ end }}             <!-- Fin de test en-tête  -->
{{ end }}                 <!-- Fin de range CSV  -->

<!-- DEBUG -->
{{ if ($.Page.Params.detail_debug) }}
    <p class="info">Nombre de lignes : {{ $total_lignes }}
    <p class="info">--

    <p class="info">==> Le map global pour les graphiques : "mapCategTotaux" (itération sur le map)
    {{ range $_i, $_j := $.Scratch.Get "mapCategTotaux" }}
        <p class="info">{{ $_i }} : {{ $_j }}
    {{ end }}

    <p class="info">==> Le map global pour les graphiques : "mapCategTotaux_EnCours" (itération sur le map)
    {{ range $_i, $_j := $.Scratch.Get "mapCategTotaux_EnCours" }}
        <p class="info">{{ $_i }} : {{ $_j }}
    {{ end }}

    <p class="info">==> Le map global pour les graphiques : "mapCategTotaux_AffNouv" (itération sur le map)
    {{ range $_i, $_j := $.Scratch.Get "mapCategTotaux_AffNouv" }}
        <p class="info">{{ $_i }} : {{ $_j }}
    {{ end }}

    <hr>
{{ end }}
