<!-- Initialise le dictionnaire des libellés des colonnes de stats
     Le nombre possible de colonnes de stats dépend (pour le moment) du type de graphique
     1 pour pie et N pour line  -->
{{ $.Scratch.Set "dict_CODE_STATS" (dict) }}

<!-- Compteur de stats différentes trouvées -->
{{ $counter := 0 }}

<!-- On récupère la ligne d'en-tête -->
{{ $_ligne := $.Scratch.Get "ligneENTETE" }}

<!-- On itère sur toutes les colonnes de stats à traiter  -->
{{ range sort ($.Scratch.Get "csvNUMCOL_STATS") }}

    <!-- Il faut un int pour l'index du n° de colonne  -->
    {{ $_numColINT := (int (lang.NumFmt 0 . "-")) }}
    {{ $_label := (index $_ligne $_numColINT) }}

    <!-- Les numéros des colonnnes à sommer en INTEGER  -->
    {{ $.Scratch.Add "liste_NUMCOL_STATS" (slice $_numColINT) }}
    <!-- Le dictionnaire complet  -->
    {{ $.Scratch.SetInMap "dict_CODE_STATS" . $_label }}

    {{ $counter = add $counter 1 }}

{{ end }}

<!-- Pour utilisation dans les rapports -->
{{ $.Scratch.Set "counter_STATS"  $counter }}

<!-- DEBUG  -->
{{ if $.Page.Params.detail_debug }}
    {{ "<h4>partial: stats_identifie.html</h4>" | safeHTML }}
    <p class="info">counter_STATS : {{ $.Scratch.Get "counter_STATS" }}
    <p class="info">liste_NUMCOL_STATS : {{ $.Scratch.Get "liste_NUMCOL_STATS" }}
    <p class="info">dict_CODE_STATS : {{ $.Scratch.Get "dict_CODE_STATS" }}
    <hr>
{{ end }}
